@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
html{
    box-sizing: border-box;

}
body{
    margin: 0;
    min-height: 100vh;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.26' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    color:black;
    font-family: Crismon, sans-serif;
    font-weight: 700;
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container {
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.5);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.4) 
}

.quote-text {
    font-size: 2.75rem;
}
.long-quote {
    font-size :2rem;
}
.fa-quote-left{
    font-size: 4rem;
}
.quote-author {
    margin: 15px;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
}
.close{
    height: auto;
    width: auto;
    margin-left: 300px;
    


}
.button-container{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
button{
    cursor : pointer;
    border: none;
    font-size: 1.2rem;
    height: 2.5rem;
    color: white;
    background-color: black;
    padding: 0.5rem 1..8 rem;
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
    outline: none;
    border-radius: 10px;
    transition: height 3s;

}
button:hover{
filter: brightness(140%);


}
button:active{
    transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem  rgba(255, 255, 255, 0.65);
}

.twitter-button:hover{
color: #38a1f3;
}
.fab fa-twitter{
font-size: 1.5rem;
}

/* loader */
 
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid grey;
  border-bottom: 16px solid burlywood;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 5s linear infinite;
  animation: spin 2.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Media query: Tablet or smaller */
@media screen and (max-width: 1000px) {

    .quote-container{
        margin: auto 10px;
    }
    .quote-text{
        font-size: 2.5rem;

    }
    .close{
        height: auto;
        width: auto;
     
    }

}